#home {
  background-image: url(https://images.unsplash.com/photo-1567009349954-1e4efe6902c2?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.font {
  font-family: "Lancelot", serif;
}

h1 {
  margin-top: 190px;
  margin-left: 50px;
  margin-right: 0;
  font-family: "Lancelot", serif;
  color: #f55;
}

.btn {
  margin-left: 50px;
  background: #f55;
  font-family: "Lancelot", serif;
}

.img-fluid {
  height: 400px;
}

.intro-pic {
  margin-top: 50%;
}

.Holiday-Collection {
  background-color: #a93a45d2;
}

.cake-name {
  font-family: "Lancelot", serif;
  font-size: 30px;
}

.delicious {
  background-color: bisque;
}

.delicious-pics {
  margin-bottom: 10%;
}
